body {
    background-color: linen;
}

h1 {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3,
h4,
h5 {
    color: black;
}

button {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.input-div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal-2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content-2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 10px;
}

#maindiv {
    width: 250px;
}

#accountName {
    color: darkblue;
}

#alertMessage {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

#loadingSymbol {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
