body {
    background-color: linen;
}

h1 {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3,
h4,
h5 {
    color: black;
}

button {
    text-align: center;
    display: inline-block;
    width: 70%;
}

.input-div {
    padding-top: 3px;
    padding-bottom: 3px;
}

#maindiv {
    width: 250px;
}

#accountName {
    color: darkblue;
}

#errorMessage {
    display: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

#loadingSymbol {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
